Options -Indexes
RewriteEngine On

# Redirect everything to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

# Ensure PHP 8.2 for the web server
AddHandler application/x-httpd-php82 .php
